.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.full-page {
    min-height: 100vh;
    outline: 3px solid orange;
}

.brown {
    outline: 3px solid brown;
}

.grey {
    outline: 3px solid gray;
}

.space-ventures {
    h2 {
        span:first-of-type {
            display: block;
            position: relative;
            z-index: 1;
        }

        span:nth-of-type(2) {
            position: relative;
            top: -20px;
            left: 10px;
            color: green;
            z-index: 0;
        }
    }
}

blockquote {
    padding: 0;
    margin: 20px;
    position: relative;
    display: inline;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        font-size: 3rem;
    }

    &::before {
        top: -3px;
        left: -3 px;
    }

    &::after {
        bottom: -3px;
        right: -3px;
    }
}

.gradient-quote {
    display: none;
}

.purple {
    outline: 3px solid purple;
}

.yellow {
    outline: 3px solid yellow;
}

.red {
    outline: 3px solid red;
}

.blue {
    outline: 3px solid blue;
}

.major-tom {
    display: none;
}

@media screen and (mini-width: 1024 px) {
    .full-page {
        display: flex;
        gap: 100px;
    }

    .brown,
    .grey {
        width: 50%;
    }

    gradient-quote {
        display: block;
        background: #CF5FA6;
        background: radial-gradient(circle farthest-corner at center center, #CF5FA6 0%, #8C3165 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
    }

    .major-tom {
        display: block;
        width: 100px;
        height: auto;
        float: right;
        transform: rotate 3deg;
    }
}

    .nav {
        outline: 1px solid brown;
        text-align: right;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: white;
    }

    body {
        padding-top: 20px;
    }