@media screen and (min-width: 1024px) {

    /* desktop-läge*/
    .full-page {
        display: flex;
        gap: 100px;
    }

    .space-ventures,
    .quote {
        width: 50%;
    }

    .gradient-quote {
        display: block;
        background: #CF5FA6;
        background: radial-gradient(circle farthest-corner at center center, #CF5FA6 0%, #8C3165 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: border-box;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
        outline: 3px solid red;
    }

    .major-tom {
        display: block;
        width: 50px;
        height: auto;
        float: right;
        transform: rotate 3deg;
    }
}