@media screen and (min-width: 1024px) {        /* desktop-läge*/
    .full-page {
        display: flex;
        gap: 100px;
    }

    .section-2 {
        display: flex;
    }

    .left, .right {         /*text vä + hö sida*/
        width: 50%;
        padding: 80px;
    }


    /*.right                         text höger sida + stort citat + foto
    .gradient-quote,
    .major-tom {
        width: 100%;
    }   
    */ 
    
 

    .content clearfix {              /*text kring roterat foto höger sida*/
        display: block;
        position: relative;
        z-index: 1;
        text-align: absolute;
    
        font-size: 14px;
        color: white;
    }
    .gradient-quote {               /*stort citat höger sida*/                                               
        display: block;
            
        background: radial-gradient(circle farthest-corner at center center, #f79dd6 0%, #8C3165 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: italic;
        font-weight: bold;
        font-size: 28px;
        text-align: left;  
        color: white;
    }

    .major-tom {                     /* roterat foto*/
        display: block;
        width: 100px;
        height: auto;
        float: right;
        transform: rotate (3deg);
    }
}
